<% content_for :page_title, "Are you sure you want to sign out?" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Are you sure you want to sign out?</h1>

    <%= govuk_button_to "Confirm", qualifications_confirm_sign_out_path, method: :post %>
  </div>
</div>
