<% content_for :page_title, "Not Authorized" %>

<h1 class="govuk-heading-l">You cannot use the DfE Sign-in account for <%= session[:organisation_name] %> to check a teacher’s record</h1>

<p class="govuk-body">
  If you have access to another organisation in DfE Sign-in, you can <%= govuk_link_to("sign out and start again", check_records_dsi_sign_out_path(id_token_hint: session[:id_token])) %>.
</p>
