- @DFE-Digital/access-your-teaching-qualifications
  /.github/ @DFE-Digital/teacher-services-infrastructure @DFE-Digital/access-your-teaching-qualifications
  /terraform/ @DFE-Digital/teacher-services-infrastructure @DFE-Digital/access-your-teaching-qualifications
  Makefile @DFE-Digital/teacher-services-infrastructure @DFE-Digital/access-your-teaching-qualifications
