<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title"><%= title %></h2>
  </div>
  <div class="govuk-summary-card__content">
    <%= render GovukComponent::SummaryListComponent.new(rows:) if rows.any? %>
  </div>
</div>
