<% if rows.any?%>
  <%= govuk_summary_card(title:) do |card| %>
      <%= govuk_summary_list(rows:)%>
      <% if qualification.qtls_applicable && qualification.set_membership_active %>
          <hr class="govuk-section-break govuk-section-break--visible">
          <p> </p>
          <p>You will no longer be exempt from induction if your Society for Education and Training (SET) membership expires</p>
      <% elsif qualification.qtls_applicable && !qualification.set_membership_active %>
          <hr class="govuk-section-break govuk-section-break--visible">
          <p> </p>
          <%= govuk_warning_text(text: "You are no longer exempt from induction because your Society for Education and Training (SET) membership expired") %>
      <% end %>
  <% end %>
<% end %>
