<% if rows.any? %>
    <%= govuk_summary_card(title:) do |card| %>
        <%= govuk_summary_list(rows:)%>
        <% if qualification.qtls_applicable && qualification.set_membership_active %>
          <hr class="govuk-section-break govuk-section-break--visible">
            <p> </p>
            <p>You will no longer have QTS via QTLS status if your Society for Education and Training (SET) membership expires</p>
        <% elsif qualification.qtls_applicable && !qualification.set_membership_active %>
          <hr class="govuk-section-break govuk-section-break--visible">
            <p> </p>
            <%= govuk_warning_text(text: "You no longer have QTS via QTLS status because your Society for Education and Training (SET) membership expired") %>
        <% end %>
    <% end %>
<% end %>
