<% content_for :page_title, 'Staff' %>

<h1 class="govuk-heading-l">Staff</h1>

<% @staff.find_each do |staff| %>
  <h2 class="govuk-heading-m"><%= staff.email %></h2>

  <%= govuk_summary_list do |summary_list|
    summary_list.with_row do |row|
      row.with_key { 'Created at' }
      row.with_value { staff.created_at.to_s }
    end

    summary_list.with_row do |row|
      row.with_key { 'Last signed in at' }
      row.with_value { staff.last_sign_in_at.to_s }
    end
  end %>
<% end %>
