<% content_for :back_link_url, check_records_search_path %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= @teacher.name %></h1>

    <div class="govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-m">Personal Details</h2>
      <%= govuk_summary_list(
        rows: [
          { key: { text: "Teacher reference number (TRN)" }, value: { text: @teacher.trn } },
          { key: { text: "Date of birth" }, value: { text: @teacher.date_of_birth } }
        ])
      %>
    </div>

    <% @other_qualifications.each do |qualification| %>
      <%= render CheckRecords::QualificationSummaryComponent.new(qualification:) %>
    <% end %>

    <% if @npqs.present? %>
      <%= render CheckRecords::NpqSummaryComponent.new(npqs: @npqs) %>
    <% end %>
  </div>
</div>
