<div class="content">
  <h2 class="heading">Early years<br/>Teacher Status</h2>
  <p class="text">This is to certify that: <strong><%= teacher.name %></strong></p>
  <p class="text">Teacher Reference Number: <strong><%= teacher.trn %></strong></p>
  <p>&#160;</p>
  <p class="text">has attained early years teacher status (EYTS), a non-mandatory qualification for<br/>
    professionals working with children aged 0-5 years.</p>
  <p>&#160;</p>
  <p class="text">Completion date:&#160;<strong><%= qualification.awarded_at.to_fs(:long_uk) %></strong></p>
</div>
