<img src="/npq-certificate.jpg" class="header-image" alt="Department for Education" />

<div class="content-npq">
  <p class="text-npq">This is to certify that:</p>
  <h2 class="heading-npq name-heading-npq"> <%= teacher.name %></h2>
  <p class="text-npq">has been awarded the</p>
  <h2 class="heading-npq">
    <strong>
      <%= qualification.formatted_qualification_name %>
    </strong>
  </h2>
  <p class="text-npq">Awarded: <%= qualification.awarded_at.to_date.to_fs(:long_uk) %></p>
</div>
