<img src="/qts-certificate.jpg" class="header-image" alt="Department for Education" />

<div class="content">

  <p class="text">This is to certify that: <strong><%= teacher.name %></strong></p>
  <p>&#160;</p>
  <p class="text">has been awarded the</p>
  <p>&#160;</p>
  <h2 class="heading"> <strong><%= qualification.name %></strong></h2>
  <p>&#160;</p>
  <p class="text">Any potential employer can independently confirm your teacher status online at:<br/>https://teacherservices.education.gov.uk</p>
</div>
