<img src="/qts-certificate.jpg" class="header-image" alt="Department for Education" />

<div class="content">
  <h2 class="heading">Qualified<br/>Teacher Status</h2>
  <p class="text">This is to certify that: <strong><%= teacher.name %></strong></p>
  <p class="text">Teacher Reference Number: <strong><%= teacher.trn %></strong></p>
  <p>&#160;</p>
  <p class="text">has attained qualified teacher status (QTS), meets the requirements for employment in<br/>
    maintained schools and non-maintained special schools in England provided that statutory<br/>
    induction period is completed satisfactorily.</p>
  <p>&#160;</p>
  <p class="text">Date of QTS: <strong><%= qualification.awarded_at.to_fs(:long_uk) %></strong></p>
  <p>&#160;</p>
  <p class="text">Congratulations and best wishes for your future career</p>
  <p>&#160;</p>
  <p class="text">Any potential employer can independently confirm your teacher status online at:<br/>https://teacherservices.education.gov.uk</p>
</div>
