<img src="/qts-certificate.jpg" class="header-image" alt="Department for Education" />

<div class="content">
  <h1 class="heading">Qualified<br/>Teacher Status</h1>
  <p class="text">This is to certify that: <strong><%= teacher.name %></strong></p>
  <p class="text">Teacher Reference Number: <strong><%= teacher.trn %></strong></p>
  <p>&#160;</p>
  <% if @qualification.set_membership_active %>
    <p class="text">has attained qualified teacher status (QTS) via qualified teacher learning and <br/>
    skills (QTLS) status, meets the requirements for employment in maintained schools and <br/> 
    non-maintained special schools in England and is exempt from the requirements to serve a  <br/>
    statutory induction period.</p>

    <p class="text">You will lose QTS and your exemption from the requirement to serve induction if your <br/>
      Society for Education and Training (SET) membership expires.
    </p>
  <% elsif teacher.exempt_from_induction_via_induction_status? %>
  <p class="text">has attained qualified teacher status (QTS), meets the requirements for employment in <br/>
    maintained schools and non-maintained special schools in England and is exempt from the <br/>
    requirements to serve a statutory induction period.</p>
  <% else %>
  <p class="text">has attained qualified teacher status (QTS), meets the requirements for employment in<br/>
    maintained schools and non-maintained special schools in England provided that statutory<br/>
    induction period is completed satisfactorily.</p>
  <% end %>
  <p>&#160;</p>
  <p class="text">Date of QTS: <strong><%= qualification.awarded_at.to_fs(:long_uk) %></strong></p>
  <p>&#160;</p>
  <p class="text">Congratulations and best wishes for your future career</p>
  <p>&#160;</p>
  <p class="text">Any potential employer can independently confirm your teacher status online at:<br/><a>https://www.gov.uk/guidance/check-a-teachers-record</a></p>
</div>
