<% content_for :page_title, "Bulk search a teacher record" %>
<% content_for :breadcrumbs do %>
  <%= govuk_breadcrumbs(breadcrumbs: { "Home" => check_records_search_path, "Bulk search" => new_check_records_bulk_search_path, "Results" => nil }) %>

  <span class="govuk-caption-m">
    Searched at <%= Time.current.to_fs(:long) %>
  </span>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= pluralize(@total, 'record') %> found</h1>
  </div>
</div>