<% content_for :page_title, "Sign in to access your teaching qualifications" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sign in to access your teaching qualifications</h1>

    <% if current_session.identity_new_registration_bypass_enabled? %>
      <p class="govuk-body">You'll need a DfE Identity account to access your teaching qualifications.</p>
      <p class="govuk-body">You can create an account if you do not have one already.</p>
    <% else  %>
      <p class="govuk-body">Use your DfE Identity account to access this service.</p>
    <% end %>

    <%=
      govuk_button_to(
        "Sign in with DfE Identity",
        current_session.dfe_identity_login_path(trn_token: params[:trn_token]),
        method: :post
      )
    %>

    <% if current_session.one_login_available? %>
      <h2 class="govuk-heading-m">If you’re a new user</h2>
      <span class="govuk-body">You can</span>
      <%=
        form_with(url: ["/qualifications/users/auth/onelogin", "trn_token=#{params[:trn_token]}"].join("?"), method: :post, class: "govuk-!-display-inline-block") do |form|
          form.submit "create a GOV.UK One Login", class: "govuk-link govuk-link--button"
        end
      %>
      <span class="govuk-body">if you do not have a DfE Identity account.</span>
    <% end %>
  </div>
</div>
