<% content_for :page_title, "Sign in to access your teaching qualifications" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sign in to access your teaching qualifications</h1>

    <p class="govuk-body">You'll need a GOV.UK One Login to access your teaching qualifications.</p>
    <p class="govuk-body">You can create an account if you do not have one already.</p>
    <%=
      govuk_button_to(
        "Sign in with GOV.UK One Login",
        "/qualifications/users/auth/onelogin",
        method: :post
      )
    %>

    <h2 class="govuk-heading-m">If you have a DfE Identity account</h2>
    <p class="govuk-body">You can still sign in using your existing DfE Identity account.</p>
    <p class="govuk-body">We recommend using GOV.UK One Login instead. You'll need it to access this service in the future.</p>
    <%=
      form_with url: "/qualifications/users/auth/identity", method: :post do |form|
        form.submit "Sign in with DfE Identity", class: "govuk-link govuk-link--button"
      end
    %>
  </div>
</div>
