<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sign in to access your teaching qualifications</h1>
    <% if FeatureFlags::FeatureFlag.active?(:one_login) %>
      <p class="govuk-body">You’ll need a GOVUK One Login account to access your teaching qualifications.</p>
      <p class="govuk-body">You can create an account if you do not have one already.</p>
      <%=
        govuk_button_to(
          "Sign in with GOVUK One Login",
          "/qualifications/users/auth/onelogin",
          method: :post
        )
      %>

    <% else %>
      <p class="govuk-body">You’ll need a DfE Identity account to access your teaching qualifications.</p>
      <p class="govuk-body">You can create an account if you do not have one already.</p>
      <%=
        govuk_button_to(
          "Sign in with DfE Identity",
          "/qualifications/users/auth/identity",
          method: :post
        )
      %>
    <% end %>
  </div>
</div>
