<% content_for :page_title, "Sign in to access your teaching qualifications" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sign in to access your teaching qualifications</h1>


    <p class="govuk-body">Use your DfE Identity account to access this service.</p>

    <%=
      govuk_button_to(
        "Sign in with DfE Identity",
        ["/qualifications/users/auth/identity", "trn_token=#{params[:trn_token]}"].join("?"),
        method: :post
      )
    %>

    <h2 class="govuk-heading-m">If you’re a new user</h2>
    <span class="govuk-body">You can</span>
    <%=
      form_with(url: ["/qualifications/users/auth/onelogin", "trn_token=#{params[:trn_token]}"].join("?"), method: :post, class: "govuk-!-display-inline-block") do |form|
        form.submit "create a GOV.UK One Login", class: "govuk-link govuk-link--button"
      end
    %>
    <span class="govuk-body">if you do not have a DfE Identity account.</span>

  </div>
</div>
