$govuk-global-styles: true;
$govuk-new-link-styles: true;
$govuk-assets-path: "/";
$govuk-fonts-path: "/";
$govuk-images-path: "/";

@import "govuk-frontend/dist/govuk/all";

.app__details-menu {
  h3 {
    border-bottom: 2px solid #1d70b8;
    padding-bottom: 10px;
  }

  p {
    font-size: 1rem;
  }
}

.app__induction-details {
  border-top: 1px solid #b1b4b6;
  margin-bottom: 0;
  padding-top: 10px;
}

.app__induction-details-list {
  font-size: 1rem;
}

.app-panel--interruption {
  background-color: #1d70b8;
  text-align: left;

  p {
    color: #fff;
    margin-bottom: govuk-spacing(6);
  }
}

.app-button--inverse,
.app-button--inverse:link,
.app-button--inverse:visited {
  background-color: #ffffff;
  box-shadow: 0 2px 0 #144e81;
  color: #1d70b8;
}

.app-button--inverse:hover {
  background-color: #e8f1f8;
  color: #1d70b8;
}

.app__two-thirds {
  width: 66.66%;
}

.search-results {
  margin-bottom: 20px;

  &__item {
    border-bottom: 1px solid #b1b4b6;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;

    &:last-of-type {
      margin-bottom: 15px;
    }

    h2 {
      margin-bottom: 5px;
    }

    .govuk-summary-list {
      font-size: 1rem;
      line-height: 1.25;
      margin-bottom: 0;
    }

    .govuk-summary-list__key,
    .govuk-summary-list__value {
      padding-bottom: 0;
    }
  }

  .govuk-tag {
    position: absolute;
    right: 0;
    top: 15px;
  }
}

.app-summary-list--compact .govuk-summary-list__key {
  width: 37%;
}

.govuk-summary-list__row:not(.govuk-summary-list__row--no-actions) > :last-child {
  padding-right: 0;
}

h1 .govuk-tag {
  position: relative;
  top: -5px;
}

.app-inset-text--red {
  border-color: govuk-colour("red");
}

.app-teacher-summary-panel {
  .govuk-tag {
    max-width: 100%;
  }
}
