<div class="search-results">
  <div class="search-results__item">
    <h2 class="govuk-heading-s">
      <%= link_to teacher.name, check_records_teacher_path(SecureIdentifier.encode(teacher.trn)), class: "govuk-link--no-visited-state" %>
    </h2>

    <%= govuk_summary_list borders: false, classes: ['app-summary-list--compact'] do |summary_list|
      summary_list.with_row do |row|
        row.with_key { "TRN" }
        row.with_value { teacher.trn }
      end

      summary_list.with_row do |row|
        row.with_key { "Date of birth" }
        row.with_value { Date.parse(teacher.date_of_birth).to_fs(:long_uk) }
      end

      if teacher.previous_names&.any?
        summary_list.with_row do |row|
          row.with_key { "Previous last names" }
          row.with_value { teacher.previous_names&.join("<br />")&.html_safe }
        end
      end
    end %>

  </div>
</div>
