<% content_for :back_link_url, check_records_search_path %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Teacher not found</h1>

    <%= govuk_link_to "Search again", check_records_search_path %>
  </div>
</div>
