<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">Search results (<%= @total %>)</h1>

    <div class="search-results">
      <% @teachers.each do |teacher| %>
        <div class="search-results__item">
          <h2 class="govuk-heading-s">
            <%= link_to teacher.name, check_records_teacher_path(teacher.trn), class: "govuk-link--no-visited-state" %>
          </h2>
          <strong class="govuk-tag govuk-tag--green">
            No restrictions
          </strong>

          <% 
            rows = [
              {
                key: { text: "TRN" },
                value: { text: teacher.trn }
              },
              {
                key: { text: "Date of birth" },
                value: { text: Date.parse(teacher.date_of_birth).to_fs(:long_uk) }
              }
            ] 
          %>
          <%= render GovukComponent::SummaryListComponent.new(rows:, borders: false, classes: ['app-summary-list--compact']) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
