<% content_for :page_title, "Search results (#{@total})" %>
<% content_for :breadcrumbs, govuk_breadcrumbs(breadcrumbs: { "Home" => check_records_search_path, "Search results" => nil }) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">Search results (<%= @total %>)</h1>
    <% if @total.zero? %>
      <p class="govuk-body">
        No teachers found.
        <%= govuk_link_to("Try another search", check_records_search_path) %>.
      </p>
    <% else %>
      <div class="search-results">
        <% @teachers.each do |teacher| %>
          <div class="search-results__item">
            <h2 class="govuk-heading-s">
              <%= link_to teacher.name, check_records_teacher_path(SecureIdentifier.encode(teacher.trn)), class: "govuk-link--no-visited-state" %>
            </h2>

            <%= govuk_summary_list borders: false, classes: ['app-summary-list--compact'] do |summary_list|
              summary_list.with_row do |row|
                row.with_key { "TRN" }
                row.with_value { teacher.trn }
              end

              summary_list.with_row do |row|
                row.with_key { "Date of birth" }
                row.with_value { Date.parse(teacher.date_of_birth).to_fs(:long_uk) }
              end
            end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
