<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Certificate</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <%= stylesheet_link_tag :certificates %>

  </head>
  <body>
    <div class="container">
      <img src="/certificate.png" class="header-image" alt="Department for Education" />
      <%= yield %>
    </div>
  </body>
</html>
