<% content_for :content do %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= yield %>
    </div>
  </div>
<% end %>

<% content_for :navigation do %>
  <%= render(Qualifications::NavigationComponent.new(current_user:, current_session:)) %>
<% end %>

<%= render template: 'layouts/base' %>
